<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			<div style="display: flex; align-items: center;">
				<img src="assets/imgs/logo.png" width="40"> Cadastro de Produto
			</div>
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="light" (click)="close()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="form" (submit)="atualizarProduto()">
		<ion-card>
			<div style="position: relative;">
				<img [src]="produto.foto" *ngIf="produto.foto" />

				<div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 185px; background: #c4c4c4;"
				 *ngIf="!produto.foto">
					<ion-icon name="images" style="font-size: 48px; color: #f7f7f7;"></ion-icon>
				</div>

				<button type="button" ion-button icon-only color="secondary" style="position: absolute; top: 5px; right: 5px;" (click)="selecionarFoto()">
					<ion-icon name="camera"></ion-icon>
				</button>
			</div>
			<ion-card-content>
				<ion-item style="padding-left: 0;">
					<ion-label stacked>Nome</ion-label>
					<ion-input formControlName="nome" placeholder="Ex: Bolsa Maravilhosa"></ion-input>
				</ion-item>
				<span style="color: salmon;" [style.visibility]="(form.controls.nome.dirty && form.controls.nome.invalid) ? 'visible' : 'hidden'">Preenchimento obrigatório</span>

				<ion-item style="padding-left: 0; margin-bottom: 17px;">
					<ion-label stacked>Descrição</ion-label>
					<ion-input formControlName="descricao" placeholder="Ex: Com forro e 3 repartições, etc"></ion-input>
				</ion-item>

				<ion-item style="padding-left: 0;">
					<ion-label stacked>Preço (R$)</ion-label>
					<ion-input formControlName="preco" placeholder="Ex: 25,00" type="number"></ion-input>
				</ion-item>
				<span style="color: salmon;" [style.visibility]="(form.controls.preco.dirty && form.controls.preco.invalid) ? 'visible' : 'hidden'">Preenchimento obrigatório</span>
			</ion-card-content>
			<ion-row style="padding: 16px">
				<ion-col style="padding: 0;" *ngIf="isUpdating">
					<button type="button" ion-button icon-start outline (click)="apagarProduto()">
						<ion-icon name="trash"></ion-icon> Apagar
					</button>
				</ion-col>
				<ion-col style="padding: 0;" text-end>
					<button type="submit" ion-button icon-start>
						<ion-icon name="checkmark-circle-outline"></ion-icon> Salvar
					</button>
				</ion-col>
			</ion-row>
		</ion-card>
	</form>
</ion-content>